.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact-icon-mail {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-icon-tel {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: currentColor;
}

.header-contact-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header {
  border-bottom: solid 1px #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: block;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: block;
  width: 294px;
  display: flex;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.current {
  color: var(--accent-color);

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--accent-color);
    bottom: 0;
    height: 4px;
    border-radius: 2px;
    justify-content: center;
    width: 100%;
  }
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-link-tel,
.header-contact-link-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
